# This is an example file used for parsing.
START_DATE: 2022-05-22 05:18:00
NAME: SOME ONE
# Table Data
DATA:
INDEX	PARAM	VALUE	PASS
1	PARAM1	1.0	TRUE
2	PARAM1	1.5	TRUE
3	PARAM2	1.6	TRUE
4	PARAM2	5	FALSE
END
END_DATE: 2022-05-22 05:20:00